name: Test

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Set up Go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6.0.0
        with:
          go-version: "1.25"

      - name: Lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0

      - name: Build
        run: go build -v

      - name: Prepare ip routes
        run: |
          sudo ip rule add from 127.0.0.1/8 iif lo table 123
          sudo ip route add local 0.0.0.0/0 dev lo table 123
          sudo ip -6 rule add from ::1/128 iif lo table 123
          sudo ip -6 route add local ::/0 dev lo table 123

      - name: Test
        run: sudo go test -v -timeout 30s ./...

      - name: Install deps for TPROXY integration test
        run: |
          sudo apt-get update
          sudo apt-get install -y netcat-openbsd

      - name: TPROXY integration test
        run: bash tests/tproxy.sh
