name: Test systemd

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Set up Go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.25"

      - name: Build
        run: go build -v

      - name: Install go-mmproxy
        run: |
          sudo cp go-mmproxy /usr/bin/go-mmproxy
          sudo mkdir /etc/go-mmproxy
          echo 192.168.0.0/16 | sudo tee /etc/go-mmproxy/net-prefixes.txt
          sudo cp examples/go-mmproxy.service /etc/systemd/system/go-mmproxy.service
          sudo systemctl daemon-reload

      - name: Start go-mmproxy
        run: sudo systemctl start go-mmproxy || sudo journalctl -xeu go-mmproxy.service

      - name: Check go-mmproxy status
        run: systemctl is-active go-mmproxy

      - name: Replace listen address of go-mmproxy with a hostname
        run: |
          sudo sed -i 's/-l 0.0.0.0:1234/-l %H:1234/' /etc/systemd/system/go-mmproxy.service
          sudo systemctl daemon-reload

      - name: Restart go-mmproxy
        run: sudo systemctl restart go-mmproxy || sudo journalctl -xeu go-mmproxy.service

      - name: Check go-mmproxy status
        run: systemctl is-active go-mmproxy
